.composite{
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    width:350px;
    margin-left: auto;
    margin-right: auto;   
    min-height: 250px;
    position: relative;  
   
}



